<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="PLCEntities" connectionString="metadata=res://*/PLCMeasurementModel.csdl|res://*/PLCMeasurementModel.ssdl|res://*/PLCMeasurementModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=quantrac;persist security info=True;user id=sa;password=sa123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <add key="TNMT_Url" value="https://gisportal.monre.gov.vn:8443/input/TNN_REST_INPUT?DATA=" />
    <add key="TNMT_Username" value="tona3a" />
    <add key="TNMT_Password" value="SEbA2lWRav" />
    <add key="TNMT_SendingInterval (minutes)" value="5" />
    <add key="KyHieuCongTrinh" value="THUYDIENDAKSRONG3A" />
  </appSettings>
</configuration>
