
@{
    ViewBag.Title = "Dữ Liệu";
    ViewBag.ActiveMenu = "Data";
}

<link href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="~/plugins/datatables-responsive/css/responsive.bootstrap4.min.css" rel="stylesheet" />

<div class="row dataTableSearchGroup">
    <div class="row col-md-4 col-12" style="height:100%">
        <div class="col-6">
            <button id="RefreshTable" type="button" class="btn btn-block btn-primary">
                <i class="fa fa-redo"></i>
                &nbsp;Load
            </button>
        </div>
        <div class="col-6">
            <button id="ExportTable" type="button" class="btn btn-block btn-success">
                <i class="fa fa-file-excel"></i>
                &nbsp;Export
            </button>
        </div>
    </div>
    <div class="row col-md-8 col-12">
        <div class="col-md-6 col-12 form-group">
            <div class="col-2">From</div>
            <div class="col-10"><input type="text" id="fromDate"></div>
        </div>
        <div class="col-md-6 col-12 form-group">
            <div class="col-2">To</div>
            <div class="col-10"><input type="text" id="toDate"></div>
        </div>
    </div>
</div>

<div class="card-body">
    <table id="DataTable" class="table table-bordered table-striped"  style="width:100%">
        <thead>
            <tr>
                <th>Time</th>
                <th>Date</th>
                <th>UpstreamWaterLevel_Cal</th>
                <th>DownstreamWaterLevel_m</th>
                <th>Qve_Ho</th>
                <th>Qoverflow</th>
                <th>QcmH1H2H3</th>
                <th>Qminflow</th>
                <th>Qve_Hadu</th>
                <th>Qve_HoDB</th>

                @*<th>Giờ đo</th>
                <th>Ngày</th>
                <th>Mực nước thượng lưu</th>
                <th>Hạ lưu</th>
                <th>Lưu lượng về hồ</th>
                <th>Qua xả tràn</th>
                <th>Qua nhà máy</th>
                <th>Xả dòng chảy tối thiểu</th>
                <th>Về hạ du</th>
                <th>Dự báo 1h tới</th>*@
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>


@section scripts{
    <script src="~/plugins/datatable/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>

    <script type="text/javascript">

        $(function () {
            var table;
            var loadDataUrl = "@Url.Action("Load", "Data")";
            Iinit();
            function Iinit() {
                table = $("#DataTable").DataTable({
                    dom: 'lrtip',
                    "order": [[1, "desc"]],
                    "columnDefs": [{ targets: [0,4,5,7,8,9], className: "truncate" }],
                    "createdRow": function (row) {
                        var td = $(row).find(".truncate");
                        td.attr("title", td.html());
                    },
                    "autoWidth": true,
                    "processing": true,
                    "serverSide": true,
                    "filter": true,
                    "ajax": {
                        "url": loadDataUrl,
                        "type": "POST",
                        "datatype": "json"
                    },
                    "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
                    "pagingType": "full_numbers",
                    "columns": [
                        { "data": "TimeString", "name": "Time" },
                        { "data": "DateString", "name": "Date" },
                        { "data": "UpstreamWaterLevel_Cal", "name": "UpstreamWaterLevel_Cal" },
                        { "data": "DownstreamWaterLevel_m", "name": "DownstreamWaterLevel_m" },
                        { "data": "Qve_Ho", "name": "Qve_Ho" },
                        { "data": "Qoverflow", "name": "Qoverflow" },
                        { "data": "QcmH1H2H3", "name": "QcmH1H2H3" },
                        { "data": "Qminflow", "name": "Qminflow" },
                        { "data": "Qve_Hadu", "name": "Qve_Hadu" },
                        { "data": "Qve_HoDB", "name": "Qve_HoDB" }
                    ],
                });
            }

            $('#RefreshTable').click(function () {
                RefreshTable();
            });

            $('#ExportTable').click(function () {
                window.location = '@Url.Action("Export", "Data")';
            });

            function RefreshTable() {
                var url = loadDataUrl + "?FromDate=" + $('#fromDate').val() + "&ToDate=" + $('#toDate').val();
                table.ajax.url(url);
                table.ajax.reload();
            }

            $("#fromDate").datepicker({
                dateFormat: 'dd/mm/yy'
            });

            $("#toDate").datepicker({
                dateFormat: 'dd/mm/yy'
            });

            $("#fromDate").val('@DateTime.Now.AddDays(-30).ToString("dd/MM/yyyy")');
            $("#toDate").val('@DateTime.Now.ToString("dd/MM/yyyy")');

            $("#fromDate").change(function(){
                RefreshTable();
            });

            $("#toDate").change(function () {
                RefreshTable();
            });
        });
    </script>
}
