<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
	<connectionStrings>
		<add name="PLCEntities" connectionString="metadata=res://*/PLCMeasurementModel.csdl|res://*/PLCMeasurementModel.ssdl|res://*/PLCMeasurementModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=112.78.2.36,1433;initial catalog=con30697_Quantrac;user id=con82186_quantracadmin;password=?y83m1Ue;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
	</connectionStrings>
  <appSettings>
    <add key="TNMT_Username" value="thuydiendakrosa2"/>
    <add key="TNMT_Password" value="7NMSmIcJJx"/>
	  <add key="TNMT_FTP_Username" value="hothuydienbd"/>
	  <add key="TNMT_FTP_Password" value="Pcttbinhdinh"/>
	  <add key="TNMT_FTP_IP" value="113.161.0.228"/>
	  <add key="TNMT_FTP_Username_2" value="hothuydienbd"/>
	  <add key="TNMT_FTP_Password_2" value="Pcttbinhdinh"/>
	  <add key="TNMT_FTP_IP_2" value="103.77.167.235"/>
    <add key="TNMT_SendingInterval (minutes)" value="5"/>
    <add key="KyHieuCongTrinh" value="THUYDIENDAKSRONG"/>
  </appSettings>
</configuration>
