<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="QuantracEntities" connectionString="metadata=res://*/QuanTracModel.csdl|res://*/QuanTracModel.ssdl|res://*/QuanTracModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=Quantrac2;user id=sa;password=sa123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="NM4ADBEntities" connectionString="metadata=res://*/NM4A.csdl|res://*/NM4A.ssdl|res://*/NM4A.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=4A;persist security info=True;user id=sa;password=sa123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="DaksrongDBEntities" connectionString="metadata=res://*/DakSrongDBModel.csdl|res://*/DakSrongDBModel.ssdl|res://*/DakSrongDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=DaksrongDB;persist security info=True;user id=sa;password=sa123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="DakSrong4NMEntities" connectionString="metadata=res://*/DakSrong4NM_DBModel.csdl|res://*/DakSrong4NM_DBModel.ssdl|res://*/DakSrong4NM_DBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=DakSrong4NM;user id=sa;password=sa123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
