<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings><add name="PLCEntities" connectionString="metadata=res://*/PLCMeasurementModel.csdl|res://*/PLCMeasurementModel.ssdl|res://*/PLCMeasurementModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=4A;persist security info=True;user id=sa;password=sa123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	  <add name="WebTayNguyen" connectionString="metadata=res://*/WebMeasurementModel.csdl|res://*/WebMeasurementModel.ssdl|res://*/WebMeasurementModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=112.78.2.30,1433;initial catalog=thu89357_Quantrac;persist security info=True;user id=thu89357_thuydienadmin;password=C9t6pj1?;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	  <add name="DakrosaLocalEntities" connectionString="metadata=res://*/DakrosaLocalModel.csdl|res://*/DakrosaLocalModel.ssdl|res://*/DakrosaLocalModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=IndusG;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>